.sidebars 
{
    height: 100%;
    width:221;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.custome-content
{
    margin-left:important 10px;
    
}


.sidebars .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
}

.sidebars {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
    background: #fdfdfd;
    display: inline-block;
    height: calc(100vh - 70px);
    top: 22px;
    left: 0;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 11 !important;
}

.sidebars .legal {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 15px;
    overflow: hidden;
}

.sidebars .legal .copyright {
    font-size: 13px;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sidebars .legal .copyright a {
    font-weight: bold;
    text-decoration: none;
}

.sidebars .legal .version {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
    font-size: 13px;
}

.sidebars .user-info {
    padding: 13px 15px 12px 15px;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
    background: url("{{URL::asset('public/src/')}}/images/user-img-background.jpg") no-repeat no-repeat;
    height: 135px;
}

.sidebars .user-info .image {
    margin-right: 12px;
    display: inline-block;
}

.sidebars .user-info .image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    vertical-align: bottom !important;
}

.sidebars .user-info .info-container {
    cursor: default;
    display: block;
    position: relative;
    top: 25px;
}

.sidebars .user-info .info-container .name {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    max-width: 200px;
    color: #fff;
}

.sidebars .user-info .info-container .email {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    max-width: 200px;
    color: #fff;
}

.sidebars .user-info .info-container .user-helper-dropdown {
    position: absolute;
    right: -3px;
    bottom: -12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
}

.sidebars .menu {
    position: relative;
    overflow-y: auto;
    height: 90vh;
}

.sidebars .menu .list {
    list-style: none;
    padding-left: 0;
}

.sidebars .menu .list li.active> :first-child span {
    font-weight: bold;
}

.sidebars .menu .list .header {
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
}

.sidebars .menu .list i.material-icons {
    margin-top: 4px;
}

.sidebars .menu .list .menu-toggle:after,
.sidebars .menu .list .menu-toggle:before {
    position: absolute;
    top: calc(50% - 14px);
    right: 17px;
    font-size: 19px;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sidebars .menu .list .menu-toggle:before {
    content: '+';
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebars .menu .list .menu-toggle:after {
    content: '\2013';
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.sidebars .menu .list .menu-toggle.toggled:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.sidebars .menu .list .menu-toggle.toggled:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.sidebars .menu .list a {
    color: #747474;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}

.sidebars .menu .list a:hover,
.sidebars .menu .list a:active,
.sidebars .menu .list a:focus {
    text-decoration: none !important;
}

.sidebars .menu .list a small {
    position: absolute;
    top: calc(50% - 7.5px);
    right: 15px;
}

.sidebars .menu .list a span {
    margin: 7px 0 7px 12px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}

.sidebars .menu .list .ml-menu {
    list-style: none;
    display: none;
    padding-left: 0;
}
.openbtn {cursor: pointer;}
.sidebars .menu .list .ml-menu span {
    font-weight: normal;
    font-size: 14px;
    margin: 3px 0 1px 6px;
}

.sidebars .menu .list .ml-menu li a {
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebars .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
    font-weight: 600;
    margin-left: 5px;
}
.custome-model
{
	width:100%;
	height:100%;
}
.sidebars .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
    content: '\E315';
    font-family: 'Material Icons';
    position: relative;
    font-size: 21px;
    height: 20px;
    top: -5px;
    right: 0px;
}

.sidebars .menu .list .ml-menu li .ml-menu li a {
    padding-left:10px;
}

.sidebars .menu .list .ml-menu li .ml-menu .ml-menu li a {
    padding-left: 95px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100%;
  height: 80%;
  max-height:150%;
}
/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
    height: 100%;
  }
}

.center_tbl
{
width: 100%;

margin: 0 auto;
overflow: hidden;
padding: 10px 0;
align-items: center;
justify-content: space-around;
display: flex;
float: none;
}
.tab-pane
{
	background-color:antiquewhite;
}